<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MyBusiness.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="MyBusiness.My.MySettings.netwyrksConnectionString" connectionString="server=127.0.0.1;user id=ehindle;password=dkk.mysql;persistsecurityinfo=True;database=netwyrks" providerName="MySql.Data.MySqlClient" />
        <add name="MyBusiness.My.MySettings.MyBusinessConnectionString" connectionString="Data Source=LAPTOP-11NSK703\SQLEXPRESS;Initial Catalog=MyBusiness;Persist Security Info=True;User ID=sa;Password=dkk.sql;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog" />
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Verbose" />
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <MyBusiness.My.MySettings>
            <setting name="ShowDiaryBody" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowCustomer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowSupplier" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowJob" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DebugOn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RetentionPeriod" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="AutoTidy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TempFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="LogFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="ReportFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="CacheFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="splchkEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="splchkAdd" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="splchkIgnore" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="splchkNumber" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="splchkRemove" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="splchkUpper" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="splchkShowMistakes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="splchkShowIgnore" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="splchkShowCaseError" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="splchkMistakeColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="splchkIgnoreColor" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="splchkCaseErrorColor" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="DataFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="Version" serializeAs="String">
                <value>1.0.0</value>
            </setting>
            <setting name="ShowProduct" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowTask" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="InvHdrFont" serializeAs="String">
                <value>Cambria, 24pt</value>
            </setting>
            <setting name="InvBodyLargeFont" serializeAs="String">
                <value>Cambria, 14pt</value>
            </setting>
            <setting name="InvFtrFont" serializeAs="String">
                <value>Cambria, 10pt</value>
            </setting>
            <setting name="InvCmpyNameFont" serializeAs="String">
                <value>Cambria, 24pt</value>
            </setting>
            <setting name="InvCmpyAddrFont" serializeAs="String">
                <value>Cambria, 14pt</value>
            </setting>
            <setting name="InvBodyFont" serializeAs="String">
                <value>Cambria, 12pt</value>
            </setting>
            <setting name="BackupFormPos" serializeAs="String">
                <value />
            </setting>
            <setting name="BackupFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="RestoreFormPos" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowRemindersAtLogin" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowAllReminders" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkCallBack" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="alertNotice" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="alertDuration" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MainFormPos" serializeAs="String">
                <value />
            </setting>
            <setting name="CustFormPos" serializeAs="String">
                <value />
            </setting>
            <setting name="CustViewFormPos" serializeAs="String">
                <value />
            </setting>
            <setting name="DiaryFormPos" serializeAs="String">
                <value />
            </setting>
            <setting name="ReminderFormPos" serializeAs="String">
                <value />
            </setting>
            <setting name="ReminderListPos" serializeAs="String">
                <value />
            </setting>
            <setting name="ViewInvoiceFormPos" serializeAs="String">
                <value />
            </setting>
            <setting name="JobMaintFormPos" serializeAs="String">
                <value />
            </setting>
            <setting name="TaskFormPos" serializeAs="String">
                <value />
            </setting>
            <setting name="AuditItemFormPos" serializeAs="String">
                <value />
            </setting>
            <setting name="DispAuditFormPos" serializeAs="String">
                <value />
            </setting>
            <setting name="LogViewFormPos" serializeAs="String">
                <value />
            </setting>
            <setting name="ProductFormPos" serializeAs="String">
                <value />
            </setting>
            <setting name="SupplierFormPos" serializeAs="String">
                <value />
            </setting>
            <setting name="OptionsFormPos" serializeAs="String">
                <value />
            </setting>
            <setting name="GlobalFormPos" serializeAs="String">
                <value />
            </setting>
            <setting name="JobProductsFormPos" serializeAs="String">
                <value />
            </setting>
            <setting name="ImageFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="InvoiceFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="ImagesFormPos" serializeAs="String">
                <value />
            </setting>
            <setting name="TmplFormPos" serializeAs="String">
                <value />
            </setting>
            <setting name="TmplSplitterDist1" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="TmplSplitterDist2" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="SuppSplitterDist1" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="CustSplitterDist1" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="JobSplitterDist1" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="JobSplitterDist2" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="JobProdSplitterDist1" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="JobProdSplitterDist2" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="MainSplitterDist1" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="MainSplitterDist2" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="MainSplitterDist3" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="SuppSplitterDist2" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="MainSplitterDist4" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="MainSplitterDist5" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="JobTaskFormPos" serializeAs="String">
                <value />
            </setting>
            <setting name="LogViewPos" serializeAs="String">
                <value />
            </setting>
            <setting name="logZoomValue" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="logZoomOn" serializeAs="String">
                <value>True</value>
            </setting>
        </MyBusiness.My.MySettings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="K4os.Hash.xxHash" publicKeyToken="32cd54395057cec3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.7.0" newVersion="1.0.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.21.2.0" newVersion="3.21.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="K4os.Compression.LZ4.Streams" publicKeyToken="2186fa9121ef231d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.16.0" newVersion="1.2.16.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Pipelines" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
