<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MyBusiness.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="MyBusiness.My.MySettings.netwyrksConnectionString" connectionString="server=127.0.0.1;user id=ehindle;password=dkk.mysql;persistsecurityinfo=True;database=netwyrks" providerName="MySql.Data.MySqlClient"/>
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Verbose"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <MyBusiness.My.MySettings>
            <setting name="ShowDiaryBody" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowCustomer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowSupplier" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowJob" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DebugOn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RetentionPeriod" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="AutoTidy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TempFolder" serializeAs="String">
                <value/>
            </setting>
            <setting name="LogFolder" serializeAs="String">
                <value/>
            </setting>
            <setting name="ReportFolder" serializeAs="String">
                <value/>
            </setting>
            <setting name="CacheFolder" serializeAs="String">
                <value/>
            </setting>
            <setting name="splchkEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="splchkAdd" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="splchkIgnore" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="splchkNumber" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="splchkRemove" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="splchkUpper" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="splchkShowMistakes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="splchkShowIgnore" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="splchkShowCaseError" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="splchkMistakeColor" serializeAs="String">
                <value/>
            </setting>
            <setting name="splchkIgnoreColor" serializeAs="String">
                <value/>
            </setting>
            <setting name="splchkCaseErrorColor" serializeAs="String">
                <value/>
            </setting>
            <setting name="DataFolder" serializeAs="String">
                <value/>
            </setting>
            <setting name="Version" serializeAs="String">
                <value>1.0.0</value>
            </setting>
            <setting name="showProduct" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showTask" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="InvHdrFont" serializeAs="String">
                <value>Cambria, 24pt</value>
            </setting>
            <setting name="InvBodyLargeFont" serializeAs="String">
                <value>Cambria, 14pt</value>
            </setting>
            <setting name="InvFtrFont" serializeAs="String">
                <value>Cambria, 10pt</value>
            </setting>
            <setting name="InvCmpyNameFont" serializeAs="String">
                <value>Cambria, 24pt</value>
            </setting>
            <setting name="InvCmpyAddrFont" serializeAs="String">
                <value>Cambria, 14pt</value>
            </setting>
            <setting name="InvBodyFont" serializeAs="String">
                <value>Cambria, 12pt</value>
            </setting>
        </MyBusiness.My.MySettings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
